<!DOCTYPE html>
<html>
  <head>
    <title>HelpjuiceChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex flex-col justify-center items-center">
    <% flash.each do |type, msg| %>
      <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mt-10" role="alert">
          <p><%= msg %></p>
      </div>
    <% end %>
</div>
    <%= yield %>
  </body>
</html>
